<div class="container-footer">
  <div class="grid-footer" >
    <div class="item item1" >
      <h3>Titulo 1</h3>
      <a href="#"> Item 1 </a>
      <a href="#"> Item 2 </a>
      <a href="#"> Item 3 </a>
    </div>
    <div class="item item2" >
      <h3>Titulo 2</h3>
      <a href="#"> Item 1 </a>
      <a href="#"> Item 2 </a>
      <a href="#"> Item 3 </a>
      <a href="#"> Item 4 </a>
      <a href="#"> Item 5 </a>
    </div>
    <div class="item item3" >
      <h3>Titulo 3</h3>
      <a href="#"> Item 1 </a>
      <a href="#"> Item 2 </a>
      <a href="#"> Item 3 </a>
      <a href="#"> Item 4 </a>
    </div>
  </div>
  <div class="bootom-footer" >
    <div class="txt-footer" >© 2020 Danmon Technology.</div>
    <!-- <span class="spacer-div" ></span> -->
    <div class="container-images" >
      <img src="assets/img/facebook.png" alt="">
      <img src="assets/img/youtube.png" alt="">
      <img src="assets/img/twitter.png" alt="">
      <img src="assets/img/telegram.png" alt="">
      <img src="assets/img/whatsappI.png" alt="">
    </div>
  </div>
</div>
