<!-- Toolbar -->
<mat-toolbar class="toolbar-shadow" >

  <mat-toolbar-row class="row-1">
    <a class="txt-sigla" mat-button href="javascript:void(0);">
      Danmon Technology
    </a>
    <span class="spacer-div"></span>

    <div class="container-items">
      <a mat-button href="javascript:void(0);"
          [mat-menu-trigger-for]="menu_servicios">Servicios</a>
      <a mat-button href="javascript:void(0);">Mision</a>
      <a mat-button href="javascript:void(0);">Vision</a>
      <a mat-button href="javascript:void(0);">Quienes somos</a>
      <a mat-button href="javascript:void(0);">Acerca de</a>

      <mat-menu #menu_servicios="matMenu">
        <a mat-menu-item href="javascript:void(0);" [routerLink]="['/']">Home</a>
        <a mat-menu-item href="javascript:void(0);" [routerLink]="['servicios/dc']">Data Center</a>
        <a mat-menu-item href="javascript:void(0);" [routerLink]="['servicios/desarrollo']">Desarrollo Web</a>
        <a mat-menu-item href="javascript:void(0);" [routerLink]="['servicios/soporte']" >Soporte Tecnico</a>
        <a mat-menu-item href="javascript:void(0);" [routerLink]="['servicios/cctv']" >CCTV</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-2">
    <a class="txt-sigla" mat-button href="javascript:void(0);">Danmon Technology</a>
    <span class="spacer-div"></span>

    <div class="container-items btn-menu" >
      <button mat-icon-button [matMenuTriggerFor]="menuToolbar">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuToolbar="matMenu" xPosition="before">
        <a mat-menu-item href="javascript:void(0);" [matMenuTriggerFor]="subMenuServicios">Servicios</a>
        <a mat-menu-item href="javascript:void(0);">Mision</a>
        <a mat-menu-item href="javascript:void(0);">Vision</a>
        <a mat-menu-item href="javascript:void(0);">Quienes somos</a>
        <a mat-menu-item href="javascript:void(0);">Acerca de</a>

        <mat-menu #subMenuServicios="matMenu">
          <a mat-menu-item href="javascript:void(0);">Data Center</a>
          <a mat-menu-item href="javascript:void(0);">Desarrollo Web</a>
          <a mat-menu-item href="javascript:void(0);">Soporte Tecnico</a>
        </mat-menu>
      </mat-menu>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-3">
    <a mat-button href="javascript:void(0);"
          [mat-menu-trigger-for]="menu_servicios" class="item">Servicios</a>
    <a class="item" mat-button href="javascript:void(0);">Categoria</a>
    <a class="item" mat-button href="javascript:void(0);">Mision</a>
    <a class="item" mat-button href="javascript:void(0);">Vision</a>
    <a class="item" mat-button href="javascript:void(0);">Quienes somos</a>
    <a class="item" mat-button href="javascript:void(0);">Acerca de</a>

    <mat-menu #menu_servicios="matMenu">
      <a mat-menu-item href="javascript:void(0);">Data Center</a>
      <a mat-menu-item href="javascript:void(0);">Desarrollo Web</a>
      <a mat-menu-item href="javascript:void(0);">Soporte Tecnico</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar >


<!-- Main container -->
<div class="main-container" >
  <router-outlet></router-outlet>

  <button class="btn-like mat-elevation-z8" mat-fab
          (click)="openModal()">
    <i class="material-icons md-18">thumb_up</i>
  </button>

  <button class="btn-mail mat-elevation-z8" mat-fab >
    <i class="material-icons md-18">mail_outline</i>
  </button>
</div>

