::ng-deep .mat-toolbar {
  // background-color: #260eff;
  // background: linear-gradient(90deg, #25C998 50%, #25c99857); //  1A1D53 1a1d53cc
  background: #25C998;

  position: sticky;
  top: 0;
  z-index: 1000;

  &.mat-toolbar-single-row {
    min-height: 56px;
    // color: #29A8B6;
  }

  .row-1, .row-3 {
    display: none;
  }
  .row-1,
  .row-2 {
    color: #f8f8f8;
  }

  .row-1 {
    .txt-sigla {  font-size: 20px; }
    .container-items { color: #ffffff; font-size: 12px; }
  }

  .row-2 {
    .txt-sigla {  font-size: 15px; }
  }

  .row-3 {
    justify-content: space-between;
    .item { color: #ffffff; font-size: 12px; }
  }

  @media screen and (min-width: 599.99px) {
    .row-2 { .btn-menu { display: none; } }
    .row-3 { display: inherit; }
  }

  @media screen and (min-width: 799.99px) {
    .row-2, .row-3 { display: none; }
    .row-1 { display: inherit; }

  }
}

.toolbar-shadow {
  -webkit-box-shadow: 0 0 1px 4px #25C998;
  -moz-box-shadow: 0 0 1px 4px #25C998;
  box-shadow: 0 0 1px 4px #22a17b;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 56px);
  background-color: #1A1D53;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 4px;
}

.btn-mail, .btn-like {
  position: fixed;
}

.btn-like {
  bottom: 70px;
  right: 10px;
  background-color: #6abcf3;
}

.btn-mail {
  bottom: 10px;
  right: 10px;
  background-color: #26b88c;
}

