<mat-toolbar class="mat-elevation-z6">

  <mat-toolbar-row class="row-1">
    <a class="logo-1" mat-button [routerLink]="['/']">
      <!-- Danmon Technology -->
      <img class="img-1" src="assets/img/LOGOIT.PNG" alt="Logo ppal">
    </a>
    <span class="spacer-div"></span>

    <div class="container-items">
      <a mat-button href="javascript:void(0);" [routerLink]="['/home']" routerLinkActive="activeLink">Home</a>

      <!-- btn | menu -->
      <a mat-button href="javascript:void(0);" [mat-menu-trigger-for]="menu_servicios">
          Servicios <span class="material-icons rotate">arrow_drop_down</span>
      </a>
      <mat-menu #menu_servicios="matMenu" >
        <a mat-menu-item [routerLink]="['/servicios/dc']" routerLinkActive="activeLink">Data Center</a>
        <a mat-menu-item [routerLink]="['/servicios/desarrollo']" routerLinkActive="activeLink">Desarrollo Web</a>
        <a mat-menu-item [routerLink]="['servicios/soporte']" routerLinkActive="activeLink">Soporte Tecnico</a>
        <a mat-menu-item [routerLink]="['/servicios/cctv']" routerLinkActive="activeLink">CCTV</a>
      </mat-menu>
      <!-- # btn | menu -->

      <a mat-button [routerLink]="['/mision']" routerLinkActive="activeLink">Mision</a>
      <a mat-button [routerLink]="['/vision']" routerLinkActive="activeLink">Vision</a>
      <a mat-button [routerLink]="['/contactanos']" routerLinkActive="activeLink">Quienes somos</a>
      <a mat-button [routerLink]="['/about']" routerLinkActive="activeLink">Acerca de</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-2">
    <a class="logo-2" mat-button [routerLink]="['/']">
      <img class="img-2-1" src="assets/img/LOGOIT.PNG" alt="Logo ppal">
      <img class="img-2-2" src="assets/img/LOGOIT-THUMNAIL.png" alt="Logo ppal">
    </a>
    <span class="spacer-div"></span>

    <div class="container-items btn-menu" >
      <button mat-icon-button [matMenuTriggerFor]="menuToolbar">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuToolbar="matMenu" xPosition="before">
        <a mat-menu-item  [matMenuTriggerFor]="subMenuServicios">Servicios</a>
        <mat-menu #subMenuServicios="matMenu">
          <a mat-menu-item [routerLink]="['/servicios/dc']" routerLinkActive="activeLink">Data Center</a>
          <a mat-menu-item [routerLink]="['/servicios/desarrollo']" routerLinkActive="activeLink">Desarrollo Web</a>
          <a mat-menu-item [routerLink]="['/servicios/soporte']" routerLinkActive="activeLink">Soporte Tecnico</a>
          <a mat-menu-item [routerLink]="['/servicios/cctv']" routerLinkActive="activeLink" >CCTV</a>
        </mat-menu>
        <a mat-menu-item [routerLink]="['/mision']" routerLinkActive="activeLink" >Mision</a>
        <a mat-menu-item [routerLink]="['/vision']" routerLinkActive="activeLink" >Vision</a>
        <a mat-menu-item [routerLink]="['/contactanos']" routerLinkActive="activeLink">Quienes somos</a>
        <a mat-menu-item [routerLink]="['/about']" routerLinkActive="activeLink">Acerca de</a>
      </mat-menu>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-3">
    <a class="item" mat-button [routerLink]="['/home']" routerLinkActive="activeLink">Home</a>
    <a mat-button href="javascript:void(0);"
          [mat-menu-trigger-for]="menu_servicios" class="item">
          Servicios <span class="material-icons rotate">arrow_drop_down</span>
    </a>
    <a class="item" mat-button [routerLink]="['/mision']" routerLinkActive="activeLink">Mision</a>
    <a class="item" mat-button [routerLink]="['/vision']" routerLinkActive="activeLink">Vision</a>
    <a class="item" mat-button [routerLink]="['/contactanos']" routerLinkActive="activeLink">Quienes somos</a>
    <a class="item" mat-button [routerLink]="['/about']" routerLinkActive="activeLink">Acerca de</a>

    <mat-menu #menu_servicios="matMenu">
      <a mat-menu-item [routerLink]="['/servicios/dc']">Data Center</a>
      <a mat-menu-item [routerLink]="['/servicios/desarrollo']">Desarrollo Web</a>
      <a mat-menu-item [routerLink]="['/servicios/soporte']" >Soporte Tecnico</a>
      <a mat-menu-item [routerLink]="['/servicios/cctv']" >CCTV</a>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar >
