::ng-deep .mat-toolbar {
  box-sizing: border-box;
  background: #414141;

  position: sticky;
  top: 0;
  z-index: 1000;

  &.mat-toolbar-single-row {
    min-height: 56px;
    // color: #29A8B6;
  }

  .row-1, .row-3 {
    display: none;
  }

  .row-1,
  .row-2 {
    color: #53d1ab;
    height: 100%;

    .logo-1, .logo-2 {
      img { padding: 5px 0; height: 100%; object-fit: cover; }
    }
  }

  .row-1 {
    .container-items { font-size: 12px; }
  }

  .row-2 {
    .logo-2 {
      .img-2-1 { display: none; }
    }

  }

  .row-3 {
    justify-content: space-between;
    .item { color: #53d1ab; font-size: 12px; }
  }

  @media screen and (min-width: 599.99px) {
    .row-2 {
      .logo-2 {
        .img-2-1 { display: inherit; }
        .img-2-2 { display: none; }
      }

      .btn-menu { display: none; }
    }
    .row-3 { display: inherit; }
  }

  @media screen and (min-width: 799.99px) {
    .row-2, .row-3 { display: none; }
    .row-1 { display: inherit; }

  }
}
