<div class="container-about">
  <div class="texto1" >
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Quae aperiam accusamus tenetur debitis quibusdam, facere dolorum
      maxime suscipit nam maiores eaque tempora in non quia officiis provident omnis.
      Consectetur odio obcaecati perspiciatis vero voluptate praesentium maiores
      repellendus alias possimus, ut asperiores distinctio adipisci impedit exercitationem
      doloremque, sint quibusdam eligendi facilis.
    </p>

    <div class="texto2" >
      <span>copyright © 2020</span>
    </div>
  </div>

</div>
