.container-about {
  width: 100%;
  // background-color: yellowgreen;
  min-height: 300px;
  padding-top: 30px;
  display: flex;

  .texto1 {
    width: 80%;

    background-color: rgb(241, 241, 241);
    margin: 10px auto;
    position: relative;
    border-radius: 4px;

    p {
      text-align: justify;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 45px;
    }

    .texto2 {
      width: 70%;
      height: 60px;
      box-shadow: 0 5px 5px -2px #5f5f5f;
      margin: auto;
      border-radius: 4px;
      background-color: rgb(205, 50, 159);
      position: absolute;
      bottom: -20px;
      left: 15%;


    }

  }


}
