<div class="grid-container" >
  <div class="item">
    <mat-card (click)="openModal()">
      <mat-card-header>
        <mat-card-title>
          Reparacion hardware
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/imagen1.jpg" alt="Imagen referencia">
      <mat-card-content>
        Descripcion de la funcion
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item">
    <mat-card (click)="openModal()">
      <mat-card-header>
        <mat-card-title>
          Instalacion SO
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/so.jpg" alt="Imagen referencia">
      <mat-card-content>
        Descripcion de la funcion
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item">
    <mat-card (click)="openModal()">
      <mat-card-header>
        <mat-card-title>
          Recuperacion de datos
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/discoD.jpg" alt="Imagen referencia">
      <mat-card-content>
        Descripcion de la funcion
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item">
    <mat-card (click)="openModal()">
      <mat-card-header>
        <mat-card-title>
          Formateo
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/formatear.jpg" alt="Imagen referencia">
      <mat-card-content>
        Descripcion de la funcion
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item">
    <mat-card (click)="openModal()">
      <mat-card-header>
        <mat-card-title>
          Backups
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/backup.jpg" alt="Imagen referencia">
      <mat-card-content>
        Descripcion de la funcion
      </mat-card-content>
    </mat-card>
  </div>
  <div class="item">
    <mat-card (click)="openModal()">
      <mat-card-header>
        <mat-card-title>
          Antivirus
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/antivirus.jpg" alt="Imagen referencia">
      <mat-card-content>
        Descripcion de la funcion
      </mat-card-content>
    </mat-card>
  </div>
</div>
