<div class="title" >

  <div class="main-text">
    En Desarrollo
    <!-- <mat-progress-bar class="progress" mode="buffer"></mat-progress-bar> -->
  </div>
  <div class="contact" >
    <div class="wt">
      <!-- <img src="assets/img/whatsapp.png" alt="Contacto"> -->
      <img src="assets/img/whatsapp.png" alt="Contacto">
      300 2523139
    </div>
    <div class="email">
      <!-- <img src="assets/img/email.png" alt="Correo"> -->
      <img src="assets/img/email.png" alt="Contacto">
      danmontechnology@gmail.com
    </div>

  </div>
</div>
