<div class="container-content" >
  <div class="header-organigrama" >
    <div class="shape-header">
      Quienes Somos
    </div>
  </div>

  <div class="txt-description" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nemo fugit, temporibus vel nesciunt consequuntur accusamus nobis dolore earum velit a.
    Quia magni eum odio atque itaque enim ab explicabo optio voluptates? Nobis cupiditate
    totam assumenda quidem sunt quos esse deserunt recusandae, molestias eveniet explicabo veritatis!
    Consectetur accusantium nulla minus dignissimos?
  </div>
</div>

<div class="container-branch-team" >
  <div class="header-organigrama" >
    <div class="shape-header">
      Organigrama Empresarial
    </div>
  </div>

  <div class="grid-team" >
    <div class="item item1">
      <img src="assets/img/avatar.png" alt="Avatar" class="mat-elevation-z1">
      <div class="txt-title" >Yesid Davila</div>
      <div class="txt-subtitle" >Desarollador / Soporte</div>
      <div class="txt-description" >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ullam, maxime?
      </div>
    </div>

    <div class="item item2">
      <img src="assets/img/avatar.png" alt="Avatar" class="mat-elevation-z1">
      <div class="txt-title" >Alvaro Castillo</div>
      <div class="txt-subtitle" >CEO</div>
      <div class="txt-description" >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ullam, maxime?
      </div>
    </div>

    <div class="item item3">
      <img src="assets/img/avatar.png" alt="Avatar" class="mat-elevation-z1">
      <div class="txt-title" >Daniel Diaz</div>
      <div class="txt-subtitle">Soporte / Servidores</div>
      <div class="txt-description" >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Ullam, maxime?
      </div>
    </div>
  </div>
</div>

<div class="container-contact">

  <div class="container-form-contact" >
    <div class="form-header" >
      <button class="btn-back" mat-mini-fab >
        <span class="material-icons">keyboard_backspace</span>
      </button>
      <span class="spacer-div" ></span>
      <span class="title" >Contactanos</span>
    </div>

    <form action="">
      <mat-form-field class="comentario-component">
        <mat-label>Deja un comentario</mat-label>
        <textarea matInput placeholder="Con gusto te reponderemos"></textarea>
      </mat-form-field>

      <mat-form-field class="nombre-component">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" >
        <button mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="nombre-component">
        <mat-label>email</mat-label>
        <input matInput type="text" >
        <button mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="nombre-component">
        <mat-label>WEB</mat-label>
        <input matInput type="text" >
        <button mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>



      <div class="form-acctions" >
        <button class="btn-send" mat-fab>
          <span class="material-icons">send</span>
        </button>
      </div>

    </form>
  </div>
</div>

<div class="container-footer">
  <div class="grid-footer" >
    <div class="item item1" >Seccion 1</div>
    <div class="item item2" >Seccion 2</div>
    <div class="item item3" >Seccion 3</div>
  </div>
</div>

